%div.jumbotron
  %h1.display-4 Détails
  %p
    Numéro de la chambre: #{@room.number}
  %p
    Disponibilité: #{@room.is_available ? "Disponible" : "Non disponible"}
  %p
    Type de vue: #{@room.view.view_desc}
  %p
    Type de chambre: #{@room.room_type.type_desc}
  %p
    = link_to 'Retour', :back