%h2 Liste des réservations
%table.table
  %thead.thead-dark
    %tr
      %th Numéro de réservation
      %th Nom du client
      %th{:colspan => "3"} Actions
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.id
        %td= reservation.customer.first_name + " " + reservation.customer.last_name
        %td= button_to 'Voir', admin_reservation_path(reservation), :method => :get, class: "btn btn-outline-primary"
        %td= button_to 'Modifier', edit_admin_reservation_path(reservation), :method => :get, class: "btn btn-outline-info"
        %td= button_to 'Supprimer', admin_reservation_path(reservation), method: :delete, class: "btn btn-outline-danger"
%p
  = link_to 'Nouvelle recherche', search_path

%h2 Liste des factures
%table.table
  %thead.thead-dark
    %tr
      %th Numéro de facture
      %th Nom du client
      %th Numéro de réservation
      %th{:colspan => "3"} Actions
  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= invoice.id
        %td= invoice.customer.first_name + " " + invoice.customer.last_name
        %td= invoice.reservation_id
        %td= button_to 'Voir', admin_invoice_path(invoice), :method => :get, class: "btn btn-outline-primary"
        %td= button_to 'Modifier', edit_admin_invoice_path(invoice), :method => :get, class: "btn btn-outline-info"
        %td= button_to 'Supprimer', admin_invoice_path(invoice), method: :delete, class: "btn btn-outline-danger"
%p
  = link_to 'Nouvelle facture', new_admin_invoice_path