%div.jumbotron
  %h1.display-4 Modifier une facture
  = form_for @invoice, url: admin_invoice_path do |f|
    %p
      = f.label :reservation_id, "Réservation"
      %br/
      = f.text_field :reservation_id
      %br/
      = f.label :customer_id, "Client"
      %br/
      = f.text_field :customer_id
    %p
      = f.submit
      %br/
  = link_to 'Retour', admin_reservations_path