%h1 Modification d'un client
= form_for(@customer) do |f|
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.submit
    %br/
%p
  = link_to 'Retour', customers_path
