%h1 Liste des clients
%table
  %thread
    %tr
      %th Prénom
      %th Nom
      %th{:colspan => "3"} Actions
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.first_name
        %td= customer.last_name
        %td= link_to 'Voir', customer_path(customer)
        %td= link_to 'Modifier', edit_customer_path(customer)
        %td= link_to 'Supprimer', customer, method: :delete, remote: true, class: "delete"
%div#newCustomer
  = link_to 'Inscrire un nouveau client', new_customer_path
%div#test2

:javascript
  $(document).ready(function(){
    $( ".delete" ).bind( 'click', function() {
      $(this).closest('tr').fadeOut();
    });
  });