%h1 Inscription d'un nouveau client
= form_for :customer, url: customers_path do |f|
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.submit
    %br/
= link_to 'Retour', customers_path