<h1>Inscription d'un nouveau client</h1>

<%= form_for :customer, url: customers_path do |f| %>

  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.submit %><br/>
  </p>

<% end %>

<%= link_to 'Retour', customers_path %>