<h1>Showing!</h1>
<p>Prénom: <%= @customer.first_name %></p>
<p>Nom: <%= @customer.last_name %></p>
<p>Téléphone: <%= @customer.phone %></p>
<p>Courriel: <%= @customer.email %></p>
<p>Numéro de carte de crédit: <%= @customer.credit_card_num %></p>
<p>
  <%= link_to 'Retour', customers_path %>
</p>