%h1 Nouvelle réservation

%div
  = params.inspect

= form_for :res, url: confirmed_path do |f|

  %p
    = f.label :start_date, "Arrivée"
    %br/
    = f.text_field :start_date, value: params[:start_date], readonly: true
  %p
    = f.label :end_date, "Départ"
    %br/
    = f.text_field :end_date, value: params[:end_date], readonly: true
  %p
    = f.label :view_id, "Vue de la chambre"
    %br/
    = f.label :view_desc, @room.view.view_desc
  %p
    = f.label :room_type_id, "Type de chambre"
    %br/
    = f.label :room_type_id, @room.room_type.type_desc
  %p
    = f.label :customer_id, "Courriel lié au compte"
    %br/
    = f.text_field :customer_id

    = f.hidden_field :room_id, value: @room.id
  %p
    = f.submit
    %br/
  = link_to 'Retour', results_path