%div.jumbotron
  %h1.display-4 Nouvelle réservation

  = form_for :res, url: confirmed_path(:res, :roomsToReserve =>@rooms_to_reserve) do |f|

    %p
      = f.label :start_date, "Arrivée : "
      %br/
      = f.text_field :start_date, value: params[:start_date], readonly: true
    %p
      = f.label :end_date, "Départ : "
      %br/
      = f.text_field :end_date, value: params[:end_date], readonly: true
    %p
      = f.label :view_id, "Vue sélectionnée : "
      %br/
      = f.label :view_desc, @view.view_desc if @view.present?
    %p
      = f.label :room_type_id, "Type sélectionné : "
      %br/
      = f.label :room_type_id, @room_type.type_desc if @room_type.present?
    %p
      Chambres sélectionnées:
      %br/
      - @rooms_to_reserve.values.each do |room|
        = room
    %p
      Maximum de 2 personnes par chambre
    %p
      Sous-total :
      = params[:price].to_f*@rooms_to_reserve.count
    %p
      = f.label :customer_id, "Entrez le courriel lié à votre compte"
      %br/
      = f.text_field :customer_id
    %p
      = f.submit "Confirmer la réservation"
      %br/
    = link_to 'Retour', results_path(:res=>{start_date: params[:start_date], end_date: params[:end_date]})