%h2 Résultats

%nav.navbar.navbar-light.bg-light
  = form_for :res, method: 'get', :html => {:class => 'form-inline'}, url: results_path do |f|
    %div.bar-element
      = f.label :start_date, "Arrivée"
    %div.bar-element
      = f.text_field :start_date, class: 'datepicker', value: params[:res][:start_date]
    %div.bar-element
      = f.label :end_date, "Départ"
    %div.bar-element
      = f.text_field :end_date, class: 'datepicker', value: params[:res][:end_date]

    %div.bar-element
      = f.label :guests, "Personnes"
    %div.bar-element
      = f.text_field :guests, :style=>"width: 50px; height: 29px;", value: params[:res][:guests]
    %div.bar-element
      = f.label :view_id, "Vue"
    %div.bar-element
      = f.select :view_id, options_for_select(@views.map{|r| [r.view_desc, r.id]}, selected: params[:res][:view_id]), :include_blank => "Choisir"
    %div.bar-element
      = f.label :room_type_id, "Type de chambre"
    %div.bar-element
      = f.select :room_type_id, options_for_select(@room_types.map{|r| [r.type_desc, r.id]}, selected: params[:res][:room_type_id]), :include_blank => "Choisir"
    %div.bar-element
      = f.label :contigues, "Contiguïté"
    %div.bar-element
      = f.check_box :contigues, :style=>"width: 20px; height: 20px;"
    %div.bar-element
      = f.submit "Rechercher", :html => {:class => 'btn.btn-outline-success.my-2.my-sm-0'}
%p
  - @rooms.each do |r|
    .card.flex-row
      .card-header.border-0
        = image_tag 'Room101.jpg', class: 'img-room'
      .card-block.px-2
        .card-body
          %h5.card-title
            =r.room_type.type_desc
          %p.card-text
            %div{:class => r.is_available ? 'available' : 'booked'}
              =r.is_available ? "Disponible" : "Non disponible"
        %ul.list-group.list-group-flush
          %li.list-group-item
            =r.number
          %li.list-group-item
            =r.view.view_desc
          %li.list-group-item
            %div.price
              - price = @price_by_period + r.room_type.type_fixed_price + r.view.view_fixed_price
              = price
        .card-body
          = link_to "Réserver", confirmation_path(:room_id => r.id, :start_date => params[:res][:start_date],
          :end_date => params[:res][:end_date], :guests => params[:res][:guests],
          :view_id => params[:res][:view_id], :room_type_id => params[:res][:room_type_id], :price => price),
          class: "card-link", method: :get
          %a.card-link{:href => "#"} Détails
