%h2 Liste des chambres à préparer
%table.table
  %thead.thead-dark
    %tr
      %th Numéro de la chambre
      %th Libre depuis
      %th{:colspan => "3"} Actions
  %tbody
    - @room_services.each do |room_service|
      %tr
        %td= room_service.room.number
        %td= room_service.created_at
        %td= button_to 'Voir', admin_room_service_path(room_service), :method => :get, class: "btn btn-outline-primary"
        %td= button_to 'Modifier', edit_admin_room_service_path(room_service), :method => :get, class: "btn btn-outline-info"
        %td= button_to 'Supprimer', admin_room_service_path(room_service), method: :delete, class: "btn btn-outline-danger"
%p
  = link_to 'Nouvelle chambre à préparer', new_admin_room_service_path