%h1 Modifier une réservation
= form_for(@reservation) do |f|
  %p
    = f.label :customer_id
    %br/
    = f.select :customer_id, options_for_select(@customers.map{|c| [c.first_name + " " + c.last_name, c.id]}, @reservation.customer_id)

  %p
    = f.submit
    %br/
= link_to 'Retour', reservations_path