%h1 Nouvelle réservation

= form_for :reservation, url: reservation_path do |f|
  %p
    = f.label :customer_id
    %br/
    = f.select :customer_id, @customers.map{|c| [c.first_name + " " + c.last_name, c.id]}, :include_blank => "Selectionnez un client"

  %p
    = f.label :guests
    %br/
    = f.text_field :guests
  %p
    = f.label :start_date
    %br/
    = f.date_select :start_date, :order => [:day, :month, :year]
  %p
    = f.label :end_date
    %br/
    = f.date_select :end_date, :order => [:day, :month, :year]
  %p
    = f.label :view_id
    %br/
    = f.select :view_id, @views.map{|r| [r.view_desc, r.id]}, :include_blank => "Sélectionnez un type de vue"
  %p
    = f.label :room_type_id
    %br/
    = f.select :room_type_id, @room_types.map{|r| [r.type_desc, r.id]}, :include_blank => "Sélectionnez un type de chambre"

  %p
    = f.submit
    %br/
= link_to 'Retour', reservations_path