%h1 Modification d'une chambre
= form_for(@room) do |f|
  %p
    = f.label :id, 'Numéro de la chambre'
    %br/
    = f.text_field :number
  %p
    = f.label :is_available, "Disponibilité"
    %br/
    = f.radio_button :is_available, true
    = f.label :is_available, 'Disponible', :value => true
    %br/
    = f.radio_button :is_available, false
    = f.label :is_available, 'Non disponible', :value => false
  %p
    = f.label :view_id, "Type de vue"
    %br/
    = f.select :view_id, options_for_select(@views.map{|v| [v.view_desc, v.id]}, @room.view_id)
  %p
    = f.label :room_type_id, "Type de chambre"
    %br/
    = f.select :room_type_id, options_for_select(@room_types.map{|t| [t.type_desc, t.id]}, @room.room_type_id)
  %p
    = f.submit
    %br/
%p
  = link_to 'Retour', rooms_path