%h1 Ajout d'une nouvelle chambre
= form_for :room, url: rooms_path do |f|
  %p
    = f.label :number, "Numéro de la chambre"
    %br/
    = f.text_field :number
  %p
    = f.label :is_available, "Disponibilité"
    %br/
    = f.radio_button :is_available, true
    = f.label :is_available, 'Disponible', :value => true
    %br/
    = f.radio_button :is_available, false
    = f.label :is_available, 'Non disponible', :value => false
  %p
    = f.label :view_id, "Type de vue"
    %br/
    = f.select :view_id, @views.map{|v| [v.view_desc, v.id]}, :include_blank => "Selectionnez une vue"
  %p
    = f.label :room_type_id, "Type de chambre"
    %br/
    = f.select :room_type_id, @room_types.map{|t| [t.type_desc, t.id]}, :include_blank => "Selectionnez un type"
  %p
    = f.submit
    %br/
= link_to 'Retour', rooms_path