%h1 Showing!
%p
  Numéro de la chambre: #{@room.number}
%p
  Disponibilité: #{@room.is_available ? "Disponible" : "Non disponible"}
%p
  Type de vue: #{@room.view_id}
%p
  Type de chambre: #{@room.room_type_id}
%p
  = link_to 'Retour', rooms_path