%h2 Liste des rapports
%table.table
  %thead.thead-dark
    %tr
      %th Numéro du rapport
      %th{:colspan => "3"} Actions
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.id
        %td= button_to 'Voir', admin_report_path(report, format: :pdf), class: "btn btn-outline-primary", :method => :get
        %td= button_to 'Modifier', edit_admin_report_path(report), class: "btn btn-outline-info", :method => :get
        %td= button_to 'Supprimer', admin_report_path(report), method: :delete, class: "btn btn-outline-danger"
%p
  = link_to 'Nouveau rapport', new_admin_report_path
